body {
  margin-top: 1em;}

body, p {
  font-family: Monaco, Consolas, "Lucida Console", monospace;}

h1, h2, h3 {
  text-transform: uppercase;
  color: #999;}

.section {
  margin-top: 0.5em;}

.swatch {
  display: inline-block;
  width: 50px;
  padding: 0.5em;
  border-radius: 3px;
  color: white;}